# --- DATA / DERIVED OBJECTS ---
data/raw/
data/private/
results/intermediate/
**/*.rds
**/*.RData
**/*.rda
**/*.qs
**/*.h5ad
**/*.h5seurat

# --- SEQUENCING ---
**/*.fastq.gz
**/*.fq.gz
**/*.bam
**/*.bai
**/*.cram
**/*.crai

# --- JUPYTER ---
.ipynb_checkpoints/

# --- R / IDE ---
.Rhistory
.Rproj.user/

# --- OS ---
.DS_Store
